
// SOURCE scss/004_base/011_test3/000_test.scss
/*
@title
Voici un titre 3
@description
Voici une description

@Markup:
<div class="test" style="min-height: 50px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);">
   <div class="test-test"></div>
</div>

@Styleguide
Base.test1.test
*/
.test {
  width: 50px;
  height: 50px;
  &-test {
    height: 100%;
    width: 100%;
    color: #8bff36;
  }
}
// SOURCE scss/000_components/000_test1/000_test.scss
/*
@title
Voici un titre 1
@description
Voici une description

@Markup:
<div class="test" style="min-height: 50px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);">
   <div class="test-test"></div>
</div>

@Styleguide
Components.test1.test1
*/
.test1 {
  width: 50px;
  height: 50px;
  &-test {
    height: 100%;
    width: 100%;
    color: #8bff36;
  }
}
// SOURCE scss/005_eboutique/000_test.scss
/*
@title
E-boutique test component
@description
Voici une description

@Markup:
<div class="test" style="min-height: 50px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);">
   <div class="test-test"></div>
</div>

@Styleguide
EBoutique.test
*/
// SOURCE scss/005_eboutique/000_test1/000_test.scss
/*
@title
E-boutique test1-test component
@description
Voici une description

@Markup:
<div class="test" style="min-height: 50px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);">
   <div class="test-test"></div>
</div>

@Styleguide
EBoutique.test1.test
*/
// SOURCE scss/005_eboutique/002_test2/018_test.scss
/*
@title
E-boutique test2-test component
@description
Voici une description

@Markup:
<div class="test" style="min-height: 50px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);">
   <div class="test-test"></div>
</div>

@Styleguide
EBoutique.test2.test
*/