
// SOURCE scss/000_components/000_test1/000_test.scss
/*
@title
Voici un titre 1
@description
Voici une description

@Markup:
<div class="test" style="min-height: 50px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);">
   <div class="test-test"></div>
</div>

@Styleguide
Components.test1.test1
*/
.test1 {
  width: 50px;
  height: 50px;
  &-test {
    height: 100%;
    width: 100%;
    color: #8bff36;
  }
}
// SOURCE scss/000_components/001_test.css
/*
@title
Voici un titre 2
@description
Voici une description

@Markup:
<div class="test" style="min-height: 50px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);">
   <div class="test-test"></div>
</div>

@Styleguide
Components.test.test-test
*/
.test {
    width: 50px;
    height: 50px;
}
.test-test {
    height: 100%;
    width: 100%;
    color: #8bff36;
}
// SOURCE scss/004_base/011_test3/000_test.scss
/*
@title
Voici un titre 3
@description
Voici une description

@Markup:
<div class="test" style="min-height: 50px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);">
   <div class="test-test"></div>
</div>

@Styleguide
Base.test1.test
*/
.test {
  width: 50px;
  height: 50px;
  &-test {
    height: 100%;
    width: 100%;
    color: #8bff36;
  }
}