<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="{host}/static/css/f=toto.css/a=toto" />
</head>
<body>
    <h1>Test de layout</h1>
    <p>{mon_message}</p>
    <img src="{host}/static/img/f=css3.png" alt="css3 logo" class="img" />
    <div class="class">
        <img src="{host}/static/img/f=css3.png" alt="css3 logo" class="img" />
    </div>
    <form method="delete" action="{host}/toto/nicolas/choquet/test/ma_femme" enctype="multipart/form-data">
        <!--<input type="file" id="toto_file" name="toto_file" />-->
        <!--<br />-->
        <input type="text" id="toto" name="toto" />
        <input type="submit">
        [mon_layout2]
    </form>

    <script src="{host}/static/js/f=toto.js/a=toto"></script>
</body>
</html>