/*
@title
Voici un titre 3
@description
Voici une description

@Markup:
<div class="test" style="min-height: 50px; box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);">
   <div class="test-test"></div>
</div>

@Styleguide
Base.test1.test
*/
.test {
  width: 50px;
  height: 50px;
  &-test {
    height: 100%;
    width: 100%;
    color: #8bff36;
  }
}